body {

  background-color: rgb(94, 92, 94);
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

div.border {
  border: 10px solid rgb(158, 57, 57);
  padding: 50px;
  margin: 20px;
}

ul.horizontal_menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

p.double {
  outline-style: double;
}


ul.horizontal_menu li {
  display: inline-block;
}

ul.horizontal_menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


ul.horizontal_menu li a:hover {
  background-color: #111;
}

ul.horizontal_menu li.active {
  background-color: #04AA6D;
}

ul.horizontal_menu .dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
}


.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #111;
}


ul.horizontal_menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


ul.horizontal_menu .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


ul.horizontal_menu .dropdown-content a:hover {
  background-color: #ddd;
}


ul.horizontal_menu .dropdown:hover .dropdown-content {
  display: block;
}

.box {
  width: 200px;
  height: 100px;
  border: 3px solid black;
  margin: 0;
  padding: 0;
}

img.right {
  float: right;
}

ul.geschiedenis {
  list-style-type: circle;
}

ul.geschiedenis li {
  display: list-item;
}